@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  height: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

@font-face {
  font-family: "Spotify";
  src: url("./assets/fonts/GothamMedium.ttf");
}

* {
  font-family: "Spotify";
}

body {
  height: 100vh;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(57, 57, 57, 1) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
}
